body {
    padding: 20px;
    background: #39312C;
    color: #999;
    font-family: sans-serif;
    font-weight: 1;
}
.interaction {
    background-color: #000;
    margin: 10px;
}
button {
    font-size: 16px;
}
.title {
    font-size: 250%;
}
a {
    color: #6F7FB7;
    text-decoration: none;
}
a:hover {
    color: #7F8FC7;
}
