body {
    padding: 20px;
    background: #39312C;
    color: #999;
}
.title {
    font-family: monospace;
    font-weight: 1;
    font-size: 250%;
}
.index-link {
    font-family: monospace;
    font-weight: 1;
}
.index-link a {
    color: #6F7FB7;
    text-decoration: none;
}
.index-link a:hover {
    color: #7F8FC7;
}