html {
    background: #29211c;
    color: #999;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    background: #39312C;
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    min-height: 100vh;
}
.contents {
    font-family: sans-serif;
    padding: 20px;
}
.title {
    font-family: monospace;
    font-weight: 1;
    font-size: 250%;
}
.index-link {
    font-family: monospace;
    font-size: 150%;
    font-weight: 1;
}
.index-link a {
    color: #6F7FB7;
    text-decoration: none;
}
.index-link a:hover {
    color: #7F8FC7;
}